body {
    background-color: #F1DDBF;
    color: #006E7F;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #78938A;
  width: 30%;
  border-width: 7px;
}

h1 {
  color: #B22727;
}

h3 {
  color: #B22727;
}
